@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;600;800&display=swap');

:root {
     --primary-color: #a484e4;
    --primary-color-light: #96c1d4;
    --secondary-color: #64ec4f;
    --extra-light: rgba (255, 255, 255, 0.5);
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Lisu Bosa", "serif";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  position: relative;
  isolation: isolate;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
  color: var(--text-dark);
  text-align: center;
  overflow: hidden;
}

.section__header::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 5rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #25453a;
  border-radius: 1rem;
}

.section__header::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 6px;
  bottom: 0;
  left: calc(50% + 3rem);
  transform: translateX(-50%);
  background-color: #25453a;
  border-radius: 1rem;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--text-dark);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-light);
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

ul {
  list-style: none;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", "sans-serif";
    color: var(--white);
    background-color: var(--primary-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-dark);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
  white-space: nowrap;
}

.funding__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.funding__content h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: black;
}

.funding__content h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: black;
}

.funding__content p {
  margin-bottom: 1rem;
  color: black;
}

footer {
    background: #a45ac2;
    padding-top: 50px;
}

.footer__container{
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer__content {
  width: 100%;
}

.footer__content h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.footer__content p {
  width: auto;
  margin: auto;
  padding: 7px;
}

.footer__content ul {
  text-align: center;
}

.social__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social__icons i{
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.social__icons i:hover{
  color: #ce6ad1fa;
}

.footer__bar {
  background: #af3a9c;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.footer__bar p {
  color: #000000;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

.footer__bar .developer-credit {
  font-size: 0.75rem; 
  opacity: 0.7; 
}

@media (width > 540px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__content {
        width: 100%;
    }

    .footer__container {
        padding: 0 1rem;
    }

    .social__icons {
        gap: 2px;
    }
}

@media (width > 768px) { 
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 1.55em;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a:hover {
    color: var(--text-light);
  }

  .footer__container {
    flex-direction: row;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
  }

  .footer__content:nth-child(1) {
    grid-column: 4/6;
  }

  .footer__content:nth-child(2) {
    grid-column: 6/8;
  }
}